<!-- this may become useful in the future but for now we are not using this view. Take a look in the animes show page for all the questions of a specific anime. -->
<h1>HELOO!!!!!! IF YOU SEE THIS, THIS IS WRONG</h1>

<table>
  <thead>
    <tr>
      <th>English</th>
      <th>Japanese</th>
      <th>Anime</th>
      <!-- <th>Integer</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.english %></td>
        <td><%= question.japanese %></td>
        <td><%= question.anime_id %></td>
       <!-- there is an integer that goes here -->
        <td><%= link_to 'Show ', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
