<p id="notice"><%= notice %></p>

<p>
  <strong>English:</strong>
  <%= @question.english %>
</p>

<p>
  <strong>Japanese:</strong>
  <%= @question.japanese %>
</p>

<p>
  <strong>Anime:</strong>
  <%= @question.anime_id %>
</p>

<!-- had integer in here  -->

<%= link_to 'Show English',anime_question_path(Anime.first, Anime.first.questions.sample, lang: 'english') %> |
<%= link_to 'Back', animes_path %>
