<%= form_for(@anime_library) do |f| %>
  <% if @anime_library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anime_library.errors.count, "error") %> prohibited this anime_library from being saved:</h2>

      <ul>
      <% @anime_library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :anime_id %><br>
    <%= f.number_field :anime_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
