<h1>Listing anime_libraries</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Anime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anime_libraries.each do |anime_library| %>
      <tr>
        <td><%= anime_library.user_id %></td>
        <td><%= anime_library.anime_id %></td>
        <td><%= link_to 'Show', anime_library %></td>
        <td><%= link_to 'Edit', edit_anime_library_path(anime_library) %></td>
        <td><%= link_to 'Destroy', anime_library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anime library', new_anime_library_path %>
