<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @anime_library.user_id %>
</p>

<p>
  <strong>Anime:</strong>
  <%= @anime_library.anime_id %>
</p>

<%= link_to 'Edit', edit_anime_library_path(@anime_library) %> |
<%= link_to 'Back', anime_libraries_path %>
