<p id="notice"><%= notice %></p>
 <h2><%= @anime.name %> </h2>
<table>
<thead>
    <tr>
      <th>Question</th>
      <th>English</th>
      <th>Japanese</th>
      <th colspan="3"></th>
    </tr>
</thead>


<tbody>
  <!-- List of questions for each anime and displayed on anime show page  -->
  <strong></strong>

  <% @anime.questions.each do |question| %>
        <tr>
          <td><%= question.id %></td>
          <td><%= question.english %></td>
          <td><%= question.japanese %></td>
        </tr>
  <% end %>
</tbody>
</table>
<!--
<%= link_to 'Edit', edit_anime_path(@anime) %>
 -->
<div class="secondary small button">
<%= link_to 'Back', animes_path %>
</div>
<div class="secondary large button ">
<%= link_to 'Generate Quiz', quiz_japanese_path({id: @question.id}) %>
</div>
<!-- This is how we tell Rails that we want to pass this piece of information from the Animes controller to the quiz controller. -->
