<%= form_for(@quiz_stage) do |f| %>
  <% if @quiz_stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz_stage.errors.count, "error") %> prohibited this quiz_stage from being saved:</h2>

      <ul>
      <% @quiz_stage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quiz_id %><br>
    <%= f.number_field :quiz_id %>
  </div>
  <div class="field">
    <%= f.label :questions_id %><br>
    <%= f.number_field :questions_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
