<h1>Listing quiz_stages</h1>

<table>
  <thead>
    <tr>
      <th>Quiz</th>
      <th>Questions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_stages.each do |quiz_stage| %>
      <tr>
        <td><%= quiz_stage.quiz_id %></td>
        <td><%= quiz_stage.questions_id %></td>
        <td><%= link_to 'Show', quiz_stage %></td>
        <td><%= link_to 'Edit', edit_quiz_stage_path(quiz_stage) %></td>
        <td><%= link_to 'Destroy', quiz_stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz stage', new_quiz_stage_path %>
