<p id="notice"><%= notice %></p>

<p>
  <strong>Quiz:</strong>
  <%= @quiz_stage.quiz_id %>
</p>

<p>
  <strong>Questions:</strong>
  <%= @quiz_stage.questions_id %>
</p>

<%= link_to 'Edit', edit_quiz_stage_path(@quiz_stage) %> |
<%= link_to 'Back', quiz_stages_path %>
